/* Start Variables */
:root {
  --main-color1:#474747;
  --main-color2:#AD343E;
  --text-color:#2C2F24;
  --second-text-color:#414536;
  --section-color1:#FFFFFF;
  --section-color2:#F9F9F7;
  --footer-color :#ADB29E;
  --section-padding : 120px 0;
  --line-h:24px;
  --trans:.5s;
  --heading-font:"Playfair Display", serif;
  --second-font:"DM Sans", sans-serif;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: var(--main-color2);
  color:beige;
}
html{
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  width: 1296px;
}
/* to style any bottom */
.botton {
  border-radius: 118px;
  -webkit-border-radius: 118px;
  -moz-border-radius: 118px;
  -ms-border-radius: 118px;
  -o-border-radius: 118px;
  border: 1.5px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #182226;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 16px;
  line-height: var(--line-h);
}
.botton:hover {
  animation-name:box-color;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}
.social {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}
.link-s {
  position: relative;
  width: 27.17px;
  height: 27.17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.link-s1{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.link-s2{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 50%;
}
.link-s3{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 58%;
  left: 50%;
}
.link-s4{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 49%;
}
/* End Global Rules */
/* Start Heading */
/* Start Nav */
nav {
  background-color: white;
  position:fixed;
  overflow: hidden;
  width: 100%;
  top:0;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
nav .up {
  background-color: var(--main-color1);
}
nav .up .container  {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .up .container .contact{
  display: flex;
  gap: 20px;
}
nav .up .container  .contact .phone, nav .up .container  .contact .mail{
  display: flex;
  gap: 5px;
  align-items: center;
}
nav .up .container  .contact .phone a, nav .up .container  .contact .mail a{
text-decoration: none;
color: var(--section-color2);
}
nav .up .container  .contact .phone a:last-child, nav .up .container  .contact .mail a:last-child{
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-h);
}
nav .up .container  .contact .phone a:hover, nav .up .container  .contact .mail a:hover {
  transition-duration: var(--trans);
  color: var(--main-color2);
}
nav .up .container  .links .link {
  background-color: #F9F9F71F;
}
nav .up .container  .links .link:hover {
  background-color: var(--main-color2);
  transition-duration: var(--trans);
}
nav .down .container {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .down .container .links {
  display: flex;
}
nav .down .container .links .home {
  background-color: #DBDFD0;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}
nav .down .container .links a {
  padding: 4px 16px;
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 16px;
  line-height:var(--line-h);
}
nav .down .container .links a:hover {
  color: var(--main-color2);
  transition-duration: var(--trans);
}
nav .down .container .book {
  width: 147px;
  height: 48px;
}
nav .down .container .book:hover {
  background-color: var(--main-color2);
  cursor: pointer;
  transition-duration: var(--trans);
  color: white;
}
/* start responsive */
@media (max-width: 1300px) {
  nav .up .container,nav .down .container {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  nav .up .container,nav .down .container {
    width: 800px;
  }
}
@media (max-width:800px){
  nav {
    height: 105px;
  }
  nav .up {
    height: 50px ;
  }
  nav .up .container {
    flex-direction: column;
  }
  nav .down .container .icon {
    display: none;
  }
  nav .down .container .book {
    position: absolute;
    top:-999px;
  }
  nav .down .container .links {
    justify-content: center;
  }
  nav .up .container,nav .down .container {
    width: 390px;
  }
  nav .up .container {
    justify-content: center;
  }
}
/* End responsive */
/* End Nav */
/* start header */
header {
  margin-top: 110px;
}
header img {
  width: 100%;
}
header .container .center {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 71%;
  left: 51%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 667px;
  height: 392px;
  align-items: center;
}
header .container .center h1 {
  width: 667px;
  height: 192px;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 100px;
  line-height: 96px;
  color: var(--text-color);
}
header .container .center p {
  height: 64px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--text-color);
  width: 537px;
}
header .container .center .bottom {
  display: flex;
  width: 349px;
  height: 64px;
  gap: 16px;
  justify-content: space-between;
}
header .container .center .bottom .left ,header .container .center .bottom .right {
  width: 170px;
  height: 64px;
}
header .container .center .bottom .left:hover ,header .container .center .bottom .right:hover {
  color: white;
  background-color: var(--main-color2);
  transition-duration: var(--trans);
}
/* start responsive  */
@media (max-width: 1300px) {
  header .container .center {
    top:50% ;
  }
}
@media (max-width: 1000px) {
  header .container .center p {
    display: none;
  }
  header .container .center h1 {
    font-size: 60px;
  }
}
@media (max-width:800px){
  header {
    margin-top:110px;
  }
  header .container .center {
    width: 390px;
    height: 100px;
    top : 30%;
  }
  header .container .center h1 {
    font-size: 30px;
    width: 390px;
  }
  header .container .center .bottom {
    width: 200px;
  }
  header .container .center .bottom .left ,header .container .center .bottom .right{
    width: 110px;
    font-size: 10px;
    padding: 10px 16px;
  }
}
@media (max-width:600px){
  header .container .center {
    width: 390px;
    height: 100px;
    top : 20%;
  }
  header .container .center h1 {
    font-size: 30px;
    width: 390px;
  }
  header .container .center .bottom {
    width: 200px;
  }
  header .container .center .bottom .left ,header .container .center .bottom .right{
    width: 110px;
    font-size: 10px;
    padding: 10px 16px;
  }
}
/* End responsive */
/* End header */
/* End Heading */
/* Start Main */
/* Start Section1 */
main .section1 {
  padding: var(--section-padding);
  background-color: var(--section-color1);
}
main .section1 .container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 61px 375px;
  row-gap: 64px;
}
main .section1 .container h2 {
  grid-column: span 4;
  text-align: center;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);

}
main .section1 .container .cards {
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
}
main .section1 .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 306px;
  height: 375px;
  border: 1.5px solid #DBDFD0;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-align: center;
}
main .section1 .container .cards .card:hover {
  box-shadow: var(--main-color2)  0px 0px 5px 0px;
}
main .section1 .container .cards .card div {
  background-color: rgb(77 89 43 / 7%);
  width: 100px;
  height: 100px;
  align-self: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main .section1 .container .cards .card h3 {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  color: var(--text-color);
}
main .section1 .container .cards .card p {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 238px;
  height: 72px;
  align-self: center;
}
main .section1 .container .cards .card a {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--main-color2);
}
main .section1 .container .cards .card a:hover {
  color: #f35c5c;
  scale: 1.2;
  transition-duration: var(--trans);
}
/* Start responsive */
@media (max-width: 1300px) {
  main .section1 .container {
    width: 1000px;
    grid-template-rows: 61px 375px 375px;
  }
  main .section1 .container .cards {
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 25px;
  }
  main .section1 .container .cards .card {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  main .section1 .container {
    width: 800px;
    grid-template-rows: 61px 375px 375px;
  }
  main .section1 .container .cards {
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 25px;
  }
  main .section1 .container .cards .card {
    margin: 0 auto;
  }
}
@media (max-width:800px){
  main .section1 .container{
    width: 390px;
    grid-template-columns: 1fr;
    grid-template-rows: 61px auto;
  }
  main .section1 .container .cards {
    grid-template-columns:repeat(1,1fr);
    row-gap: 25px;
  }
  main .section1 .container .cards .card {
    margin: 0 auto;
  }
}
/* End responsive */
/* End Section1 */
/* Start Section2 */
main .section2 {
  background-color: var(--section-color2);
  padding: var(--section-padding);
}
main .section2 .container {
  display: flex;
  justify-content: space-between;
}
main .section2 .container .left {
  position: relative;
  width: 649px;
  height: 616px;
  z-index: 1;
}
main .section2 .container .left .contact {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  background-color: var(--main-color1);
  color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 411px;
  height: 321px;
}
main .section2 .container .left .contact h3 {
font-family: var(--second-font);
font-weight: 700;
font-size: 24px;
line-height: 30px;
}
main .section2 .container .left .contact .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
main .section2 .container .left .contact .details .phone , main .section2 .container .left .contact .details .email ,main .section2 .container .left .contact .details .location {
  display: flex;
  gap: 20px;
  align-items: center;
}
main .section2 .container .left .contact .details .phone a , main .section2 .container .left .contact .details .email a ,main .section2 .container .left .contact .details .location a {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
main .section2 .container .left .contact .details .phone a:hover , main .section2 .container .left .contact .details .email a:hover ,main .section2 .container .left .contact .details .location a:hover{
  color: var(--main-color2);
  transition-duration: var(--trans);
}
main .section2 .container .left .contact .details .location{
  align-items: flex-start;
}
main .section2 .container .right{
  width: 557px;
  height: 457px;
  margin: 79.5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .section2 .container .right h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);
}
main .section2 .container .right .up{
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color:var(--text-color);
}
main .section2 .container .right .down {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-text-color);
}
main .section2 .container .right a {
  width:179px;
  height: 64px;
}
main .section2 .container .right a:hover {
  color: white;
  background-color: var(--main-color2);
  transition-duration: var(--trans);
}
/* Start responsive */
@media (max-width: 1300px) {
  main .section2 .container {
    width: 1000px;
  }
  main .section2 .container .right {
    height: inherit ;
    margin: 0;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  main .section2 .container {
    width: 800px;
    height: auto ;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  main .section2 .container .right {
    gap: 40px;
    margin-top: 100px;
  }
}
@media (max-width:800px){
  main .section2 .container{
    width: 390px;
  }
  main .section2 .container .left {
    width: 390px;
    height: 420px;
  }
  main .section2 .container .left > img{
    width: 390px;
  }
  main .section2 .container .left .contact {
    margin: auto;
    left: -5%;
    top:80%;
    width: 320px;
  }
  main .section2 .container .right {
    width: 350px;
  }
  main .section2 .container .right h2 {
    font-size: 25px;
  }
  main .section2 .container .right .up {
    font-size: 16px;
  }
  main .section2 .container .right .down {
    font-size: 14px;
  }
}
/* End responsive */
/* End Section2 */
/* Start section3 */
main .section3 {
  padding: var(--section-padding);
}
main .section3 .container {
  display: grid;
  row-gap:74px;
  grid-template-rows:121px 433px;
}
main .section3 .container .head {
  width: 675px;
  height:121px;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);
}
main .section3 .container .cards {
  display: grid;
  grid-template-columns: repeat(4,306px);
  justify-content: space-between;
}
main .section3 .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .section3 .container .cards .card:hover {
  scale: 1.1;
  transition-duration: var(--trans);
  transition-timing-function: ease-out;
}
main .section3 .container .cards .card h3 {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
}
main .section3 .container .cards .card p {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-text-color);
}
/* start responsive */
@media (max-width: 1300px) {
  main .section3 .container {
    width: 1000px;
    grid-template-rows: auto 433px 433px;
  }
  main .section3 .container .cards {
    grid-template-columns:repeat(3,306px);
    grid-template-rows: repeat(2,433px);
    gap: 25px;
  }
  main .section3 .container .cards .card {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  main .section3 .container {
    width: 800px;
    grid-template-rows: auto 433px 433px;
    justify-content: center;
  }
  main .section3 .container .head {
    text-align: center;
  }
  main .section3 .container .cards {
    grid-template-columns:repeat(2,306px);
    grid-template-rows: repeat(2,433px);
    row-gap: 25px;
  }
  main .section3 .container .cards .card{
    border: 1.5px solid var(--text-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 10px;
    margin: 0 auto;
  }
}
@media (max-width:800px){
  main .section3 .container{
    width: 390px;
    grid-template-columns: 390px;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }
  main .section3 .container .head {
    width: 306px;
    height: auto;
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  main .section3 .container .cards {
    grid-template-columns:306px;
    grid-template-rows: repeat(4,433px);
    row-gap: 25px;
    justify-content: center;
  }
  main .section3 .container .cards .card{
    border: 1.5px solid var(--text-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 10px;
  }
}
/* end responsive */
/* End section3 */
/* Start section4 */
main .section4 {
  background-color: var(--section-color2);
  padding: var(--section-padding);
}
main .section4 .container {
  display: flex;
  justify-content: space-between;
}
main .section4 .container .left {
  display: grid;
  grid-template-columns: 431px 290px;
  align-items: flex-end;
  height: 627px;
  column-gap: 24px;
}
main .section4 .container .left img:hover {
  scale: 1.1;
  transition-duration: var(--trans);
  transition-timing-function: ease-out;
  opacity: 1;
}
main .section4 .container .left .one {
  grid-row: span 2;
  align-self: flex-start;
}
main .section4 .container .right{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
width: 461px;
}
main .section4 .container .right .up {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .section4 .container .right .up h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);
}
main .section4 .container .right .up p {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-text-color);
}
main .section4 .container .right .down {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  gap: 20px;
}
main .section4 .container .right .down .item {
  display: flex;
  gap: 20px;
  align-items: center;
}
main .section4 .container .right .down .item:hover > img {
  border-color: var(--main-color1);
  transition-duration: var(--trans);
  outline: #f35c5c solid 2px ;
  rotate: 360deg;
  cursor:context-menu;
}
main .section4 .container .right .down .item:hover > p {
  cursor:context-menu;
  color: var(--main-color2);
}
main .section4 .container .right .down .item img {
  background-color: var(--main-color2);
  border: 9px solid var(--main-color2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main .section4 .container .right .down .item p {
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color:var(--text-color) ;
}
/* start responsive */
@media (max-width: 1300px) {
  main .section4 .container {
    width: 1000px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
@media (max-width: 1000px) {
  main .section4 .container {
    width: 800px;
  }
}
@media (max-width:800px){
  main .section4 .container{
    width: 390px;
  }
  main .section4 .container .left {
    grid-template-columns: 290px;
  }
  main .section4 .container .left .one{
    display: none;
  }
  main .section4 .container .right {
    align-self: center;
    width: 370px;
    text-align: center;
  }
  main .section4 .container .right .up h2 {
    font-size: 30px;
  }
}
/* end responsive */
/* End section4 */
/* Start section5 */
main .section5 {
  padding: var(--section-padding);
}
main .section5 .container {
  display: grid;
  grid-template-columns: repeat(3,416px);
  grid-template-rows: 61px auto;
  row-gap: 64px;
  column-gap:24px ;
}
main .section5 .container h2 {
  grid-column: span 3;
  text-align: center;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);
}
main .section5 .container .card {
  height: 408px;
  background-color: var(--section-color2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 35px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
main .section5 .container .card:hover {
  scale: 1.1;
  transition-duration: var(--trans);
  transition-timing-function: ease-out;
}
main .section5 .container .card:hover .person .details p:first-child {
  color: var(--main-color2);
}
main .section5 .container .card h3 {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--main-color2);
}
main .section5 .container .card p {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--second-text-color);
}
main .section5 .container .card hr {
  border: 1px solid rgb(219 223 208 / 70%);;
}
main .section5 .container .card .person {
  height: 70px;
  gap: 20px;
  display: flex;
  align-items: center;
}
main .section5 .container .card .person .details p:first-child{
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}
main .section5 .container .card .person .details p:last-child {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-text-color);
}
/* start responsive */
@media (max-width: 1300px) {
  main .section5 .container {
    width: 1000px;
    grid-template-columns: repeat(3,auto);
  }
  main .section5 .container .card h3{
    font-size: 20px;
  }
  main .section5 .container .card p {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  main .section5 .container {
    width: 800px;
    row-gap: 25px;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 61px 408px 408px;
  }
  main .section5 .container .card:last-child {
    grid-column: span 2;
    width:calc(98% / 2);
    margin: 0 auto;
  }
}
@media (max-width:800px){
  main .section5 .container{
    width: 390px;
    grid-template-columns: repeat(2,auto);
    grid-template-rows:61 auto auto auto ;
  }
  main .section5 .container h2 {
    font-size: 25px;
    width: 380px;
    text-align: center;
  }
  main .section5 .container .card {
    width: 380px;
    grid-row: span 1;
    grid-column: span 2;
    margin: 0 auto;
  }
  main .section5 .container .card:last-child {
    width: 380px;
  }
}
/* end responsive */
/* End section5 */
/* start section6 */
main .section6 {
  background-color: var(--section-color2);
  padding: var(--section-padding);
}
main .section6 .container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
main .section6 .container .up {
  display: flex;
  justify-content: space-between;
}
main .section6 .container .up h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  color: var(--text-color);
}
main .section6 .container .up a {
  width: 191px;
  height: 64px;
}
main .section6 .container .up a:hover {
  color: white;
  background-color: var(--main-color2);
  transition-duration: var(--trans);
}
main .section6 .container .cards {
  display: grid;
  grid-template-columns: 636px auto auto;
  grid-template-rows:repeat(2,366px) ; 
  gap: 24px;
}
main .section6 .container .cards .card:first-child {
  grid-row: span 2;
}
main .section6 .container .cards .card {
  background-color: #ffffff;
  border: 1px solid #F9F9F7;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
main .section6 .container .cards .card:hover {
  scale: 1.05;
  transition-duration: var(--trans);
  transition-timing-function: ease-out;
}
main .section6 .container .cards .card .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  height: 84px;
  gap: 12px;
}
main .section6 .container .cards .card:first-child .details {
  padding: 0 34px;
  height: 178px;
  gap: 15px;
}
/* start responsive */
@media (max-width: 1300px) {
  main .section6 .container {
    width: 1000px;
  }
  main .section6 .container .cards {
    grid-template-columns: repeat(2,318px);
    grid-template-rows: 732px 306px 306px;
    justify-content: center;
  }
  main .section6 .container .cards .card {
    padding: 5px;
  }
  main .section6 .container .cards .card:first-child {
    grid-column: span 2;
    grid-row: span 1;
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  main .section6 .container {
    width: 800px;
  }
}
@media (max-width:800px){
  main .section6 .container{
    width: 390px;
  }
  main .section6 .container .up {
    justify-content: center;
    gap: 5px;
  }
  main .section6 .container .up h2 {
    font-size: 20px;
  }
  main .section6 .container .cards {
    grid-template-columns: 306px;
    grid-template-rows: repeat(4,354px);
  }
  main .section6 .container .cards .card {
    padding: 0px;
  }
  main .section6 .container .cards .card:first-child {
    display: none ;
  }
}
/* end responsive */
/* end section6 */
/* End Main */
/* start footer */
footer {
  background-color:var(--main-color1);
  padding: var(--section-padding);
  padding-bottom: 60px;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 573px;
}
footer .container .up {
  display: flex;
  gap: 135px;
}
footer .container .up .left {
  display: flex;
  flex-direction: column;
  gap:30px;
  width: 293px;
}
footer .container .up .left p {
font-family: var(--second-font);
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: var(--footer-color) ;
}
footer .container .up .left .links {
  align-self: flex-start;
  gap: 12px;
}
footer .container .up .left .links .link {
  background-color: var(--main-color2);
}
footer .container .up .left .links .link:hover {
  rotate: 360deg;
  border: #f35c5c solid 2px;
  transition-duration: var(--trans);
}
footer .container .up .center {
  display: flex;
  gap:120px;
  width: 330px;
}
footer .container .up .center .head {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .container .up .center .head p {
font-family:  var(--second-font);
font-size: 16px;
font-weight: 700;
line-height: 24px;
color: white;
}
footer .container .up .center .head div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .up .center .head div a {
  text-decoration: none;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:#DBDFD0;
}
footer .container .up .center .head div a:hover {
  color: var(--main-color2);
  transition-duration: var(--trans);
}
footer .container .right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .container .right p {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
footer .container .right .image {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
footer .container .right .image img:hover {
  scale: 1.1;
  transition-duration: var(--trans);
}
footer .container .bottom {
  display: flex;
  height: 54px;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .bottom p {
  align-self: center;
}
footer .container .bottom hr {
  border: 1px solid #414536;
}
footer .container .bottom p {
font-family: var(--second-font);
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: var(--footer-color);
}
footer .container .bottom p a {
  color: var(--main-color2);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
footer .container .bottom p a:hover {
  color: #f35c5c;
  transition-duration: var(--trans);
}
/* start responsive */
@media (max-width: 1300px) {
  footer .container {
    width: 1000px;
  }
  footer .container .right {
    display: none;
  }
  footer .container .up {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  footer .container {
    width: 800px;
  }
}
@media (max-width:800px){
  footer .container{
    width: 390px;
    height: 750px;
  }
  footer .container .up {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  footer .container .bottom p {
    font-size: 15px;
  }
}
/* end responsive */
/* end footer */
/* start keyframes */
@keyframes box-color {
  0%{
    box-shadow: 0px -3px 8px 0px rgb(240, 70, 72);
  }
  4.16667%{
    box-shadow: 1px -3px 8px 0px rgb(240, 70, 72);
  }
  8.33333%{
    box-shadow: 2px -3px 8px 0px rgb(240, 70, 72);
  }
  12.5%{
    box-shadow: 3px -3px 8px 0px rgb(240, 70, 72);
  }
  16.6666667%{
    box-shadow: 3px -2px 8px 0px rgb(240, 70, 72);
  }
  20.83333334%{
    box-shadow: 3px -1px 8px 0px rgb(240, 70, 72);
  }
  25.0000001%{
    box-shadow: 3px 0px 8px 0px rgb(240, 70, 72);
  }
  29.16666668%{
    box-shadow: 3px 1px 8px 0px rgb(240, 70, 72);
  }
  33.33333335%{
    box-shadow: 3px 2px 8px 0px rgb(240, 70, 72);
  }
  37.500000002%{
    box-shadow: 3px 3px 8px 0px rgb(240, 70, 72);
  }
  41.66666669%{
    box-shadow: 2px 3px 8px 0px rgb(240, 70, 72);
  }
  45.83333336%{
    box-shadow: 1px 3px 8px 0px rgb(240, 70, 72);
  }
  50.00000003%{
    box-shadow: 0px 3px 8px 0px rgb(240, 70, 72);
  }
  54.1666667%{
    box-shadow: -1px 3px 8px 0px rgb(240, 70, 72);
  }
  58.33333337%{
    box-shadow: -2px 3px 8px 0px rgb(240, 70, 72);
  }
  62.50000004%{
    box-shadow: -3px 3px 8px 0px rgb(240, 70, 72);
  }
  66.6666667%{
    box-shadow: -3px 2px 8px 0px rgb(240, 70, 72);
  }
  70.83333337%{
    box-shadow: -3px 1px 8px 0px rgb(240, 70, 72);
  }
  75.00000004%{
    box-shadow: -3px 0px 8px 0px rgb(240, 70, 72);
  }
  79.16666671%{
    box-shadow: -3px -1px 8px 0px rgb(240, 70, 72);
  }
  83.33333333%{
    box-shadow: -3px -2px 8px 0px rgb(240, 70, 72);
  }
  87.500000005%{
    box-shadow: -3px -3px 8px 0px rgb(240, 70, 72);
  }
  91.66666672%{
    box-shadow: -2px -3px 8px 0px rgb(240, 70, 72);
  }
  95.83333339%{
    box-shadow: -1px -3px 8px 0px rgb(240, 70, 72);
  }
  100%{
    box-shadow: 0px -3px 8px 0px rgb(240, 70, 72);
  }
}
/* end keyframes */